{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock %} {% block body %}

<div id="home" class="full-page center ">
    <div class="anim-container">
        <div class="anim-shadow">

            <div class="text-center">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>
</div>


{% endblock %}