{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock %} {% block body %}

<div id="home" class="fullPage center ">
    <div class="animContainer">
        <div class="animShadow">

            <div class="content text-center">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>
</div>


{% endblock %}