{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock %} {% block body %}


<div class="">
    <p><a class="" href="{{path('xml')}}">Insertion des données XML</a></p>
</div>
{% endblock %}