{% extends 'admin/admin.html.twig' %} {% block title %}Produits{% endblock %} {% block content %}
<h1 class="text-primary d-flex my-4 justify-content-center">Liste des produits</h1>

<div class="shadow-lg my-4 gridContainer text-center">
    {% for product in productsList %}
    <div class="bg-primary rounded m-2 p-2">
        <div class="flex-fill mr-2">
            <img src="{{ asset('images/avenir.jpg') }}" width="64" alt="Product image">
        </div>
        <h5>Nom du produit: {{ product.name }}</h5>
        <p>Prix unitaire: {{ product.price }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}