{% extends 'admin/admin.html.twig' %} {% block title %}Accueil{% endblock %} {% block content %}
<h1 class="text-primary d-flex my-4 justify-content-center">Administration</h1>
<div class="rounded m-2 p-2 justify-content-center text-center">
    <h2>Bienvenue</h2>
    <p><a class="btn customBtn" href="{{path('admin_xml')}}">Insertion des données XML</a></p>
    <p><a class="btn customBtn" href="{{path('admin_orders')}}">Liste des commandes</a></p>
    <p><a class="btn customBtn" href="{{path('admin_new_cart_item')}}">Nouvelle commande</a></p>
</div>
{% endblock %}