{% extends 'home/home.html.twig' %}{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %} {% block title %}Register{% endblock %} {% block content %}
<div class="animate-text-color m-4">
    <h1>Inscriptions</h1>
</div>

{% if registrationActivated == false %}
<p>Inscriptions désactivées</p>
{% else %}
<p>Inscriptions activées</p>
{% endif %}
<div class="alert alert-warning m-2 p-1">
    <p>N'oubliez pas de désactiver les inscriptions dans le controller Registration</p>
</div>